[Unit]
Description=Screen blanking check service (disable it if fullscreen app is detected)

[Service]
Type=oneshot
Environment=DISPLAY=:0
ExecStart=/home/klassm/.config/systemd/user/screen-blanking.service.d/screen-blanking.sh
